<footer class="bg-[#101C1C]">
    <div class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-5 max-w-screen-2xl mx-auto">
        <div class="md:col-span-3 p-4 md:pr-12 xl:pr-24">         
            <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse mb-4">
                <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">GYMNASATIC</span>
            </a>

            <p class="text-white text-xl font-normal">This top-tier fitness club comes at a hefty monthly cost but offers the
                best of the best. You'll find state-of-the-art equipament.</p>

            <ul class="flex md:justify-start mt-10">
                <li
                    class="flex items-center justify-center text-2xl w-12 h-12 rounded-full border-2 border-white text-white hover:text-green-main mr-2">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>

                <li
                    class="flex items-center justify-center text-2xl w-12 h-12 rounded-full border-2 border-white text-white hover:text-green-main mx-2">
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
                
                <li
                    class="flex items-center justify-center text-2xl w-12 h-12 rounded-full border-2 border-white text-white hover:text-green-main mx-2">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                
                <li
                    class="flex items-center justify-center text-2xl w-12 h-12 rounded-full border-2 border-white text-white hover:text-green-main mx-2">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>

        <div class="md:grid-span-1 xl:col-span-1 p-4">
            <ul>
                <h3 class="text-white">Company</h3>
                <li><a href="" class="nav-link">Home</a></li>
                <li><a href="" class="nav-link">Class</a></li>
                <li><a href="" class="nav-link">Membership</a></li>
                <li><a href="" class="nav-link">Trainers</a></li>
                <li><a href="" class="nav-link">Blog</a></li>
            </ul>
        </div>

        <div class="md:grid-span-1 xl:col-span-1 p-4">
            <ul>
                <h3 class="text-white">Category</h3>
                <li><a href="" class="nav-link">Strengh Training</a></li>
                <li><a href="" class="nav-link">Body Building</a></li>
                <li><a href="" class="nav-link">Weight Lost</a></li>
                <li><a href="" class="nav-link">Basic Yoga</a></li>
                <li><a href="" class="nav-link">Physical Fitness</a></li>
            </ul>
        </div>

        <div class="md:grid-span-1 xl:col-span-1  p-4">
            <ul>
                <h3 class="text-white">Contact Us</h3>
                <li>
                    <a href="" class="nav-link">
                        <span class="mr-3"><i class="fa-fw fa-solid fa-phone"></i></span>+55 11 9805-8056
                    </a>
                </li>
                <li>
                    <a href="" class="nav-link">
                        <span class="mr-3"><i class="fa-fw fa-regular fa-envelope"></i></span>email&#64;domail.com
                    </a>
                </li>
                <li>
                    <a href="" class="nav-link">
                        <span class="mr-3"><i class="fa-fw fa-solid fa-location-dot"></i></span>São Paulo, SP
                    </a>
                </li>
            </ul>
        </div>

        <div class="md:col-span-3 lg:col-span-6  p-4">
            <div class="flex flex-col md:flex-row ">
                <p class="flex-grow text-white font-medium leading-9 py-3">&copy; 2024 Gymnastic</p>

                <!-- <ul class="flex flex-wrap items-center justify-start text-gray-900 dark:text-white  py-3">
                    <li>
                        <a href="#" class="nav-link-footer md:border-r border-white">Terms of Use</a>
                    </li>

                    <li>
                        <a href="#" class="nav-link-footer">Privacy Policy</a>
                    </li>
                </ul> -->


                <ul
                    class="max-w-md space-y-1 list-none list-inside md:flex md:flex-wrap md:items-center md:justify-center text-gray-900 dark:text-white">
                    <li>
                        <a href="#" class=" md:px-6 hover:underline leading-10 md:leading-1 md:border-r dark:border-white">Terms of Use</a>
                    </li>

                    <li>
                        <a href="#" class=" md:px-6 hover:underline leading-10 md:leading-1">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>