<nav class="">
    <div class="navbar">
        <a href="https://flowbite.com/" class="navbar-brand">
            <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">GYMNASATIC</span>
        </a>

        <div id="nav-buttons" class="grid gap-4 grid-cols-2">
            <button data-collapse-toggle="navbar-default" type="button" class="navbar-toggler"
                aria-controls="navbar-default" aria-expanded="false">
                <i class="fa-solid fa-sun"></i>
            </button>

            <button data-collapse-toggle="navbar-default" type="button" class="navbar-toggler"
                aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
        </div>

        <div class="navbar-collapse" id="navbar-default">
            <ul class="navbar-nav">
                <li>
                    <a href="#" class="nav-link" aria-current="page">Home</a>
                </li>

                <li>
                    <a href="#" class="nav-link">Class</a>
                </li>

                <li>
                    <a href="#" class="nav-link">Membership</a>
                </li>

                <li>
                    <a href="#" class="nav-link">Trainers</a>
                </li>

                <li>
                    <a href="#" class="nav-link">Blog</a>
                </li>

                <li>
                    <a href="#" class="nav-link">Contact</a>
                </li>

                <li class="hidden md:block">
                    <a href="#" class="nav-link"  (click)="darkMode.set(!darkMode())">
                        <i *ngIf="!darkmode()" class="fa-solid fa-sun"></i>
                        <i *ngIf="darkmode()" class="fa-solid fa-moon"></i>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>