<div class="flex flex-col">
  <div class="bg-chaos-50">Chaos 50</div>
  <div class="bg-chaos-100">Chaos 100</div>
  <div class="bg-chaos-200">Chaos 200</div>
  <div class="bg-chaos-300">Chaos 300</div>
  <div class="bg-chaos-400">Chaos 400</div>
  <div class="bg-chaos-500">Chaos 500</div>
  <div class="bg-chaos-600">Chaos 600</div>
  <div class="bg-chaos-700">Chaos 700</div>
  <div class="bg-chaos-800">Chaos 800</div>
  <div class="bg-chaos-900">Chaos 900</div>
  <div class="bg-chaos-950">Chaos 950</div>
</div>